#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {

  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {

 height: 530px;
   border-radius:6px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
position: relative;
  height: 100%;
  object-fit: 500px;
  border-radius:2px;
}

@media screen and (max-width:576px) {
  .swiper {

 height: 360px;
   border-radius:6px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  height: 100%;
  object-fit: 400px;
  border-radius:2px;
}
  
}