@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
*{
  font-family: "Roboto", sans-serif;
}

.btnmain {
  @apply bg-[#0A400C] text-[#FEFAE0] font-bold py-2 px-4 rounded-lg shadow-md hover:bg-green-600 transition-all;
}

.menu li{
  color: #10b981;
  font-size: 18px;
  font-weight:500;
}

.menu a.active{
  color:#0b7632;
}

